header {
		background-image: url("http://wallpaperswa.com/thumbnails/detail/20120808/patterns%20textures%20floral%201920x1200%20wallpaper_wallpaperswa.com_57.jpg");
		background-position: center;
		background-size: cover;
		color: black;
		text-align: center;
		font-family: verdana, sans-serif;
		}
body {
		background-color: thistle;
		font-family: verdana, sans-serif;
		}
#name {
		color: white; 
		font-size: 30px
		}
h2 {
		color: thistle;
		padding-bottom: 20px;
		padding-top: 30px;
		font-size: 26px;
		}
h4 {
		color: black;
		font-size: 22px;
		}
p {
		color: white;
		font-size: 18px;
		padding-bottom: 10px;
		}
		input{ border: 10;
		border-color: silver;
		border-radius: 5px;
		padding: 8px;
		font-size: 18px;
		margin-bottom: 20px;
		}
input[type="submit"] {
		font-size: 18px;
		background-color: black;
		color: silver;
		}
img {
		margin-top: 20px;
		border-color: black;
		border-radius: 200px;
		}
ul {
		padding: 13px;
		background: rgba(0,0,0,0.8);

		}
li {
		display: inline;
		padding: 0px 45px 0px 45px;
		font-size: 20px;
		}
a {
		color: thistle;
		text-decoration: none;
		}
article {
		max-width: 1200px;
		background: rgba(0,0,0,0.5);
		color: black;
		padding: 10px 5px 10px 35px;
		margin: 25px auto;
		text-align: left;
		}
span {
		color: red;
		}
 @media (max-width: 580px) {
	h2 {
		font-size: 18px;
		}
	h4 {
		font-size: 15px;
		}
	p {
		font-size: 14px;
		}
	li {
		display: block;
		font-size: 18px;
		}
	button {
		font-size: 10px;
		padding: 2px 5px;
		}
	}
	button {
		border: 2px solid silver;
		border-radius: 3px;
		padding: 3px 5px;
		font-size: 16px;
		font-weight: bold;
		background-color: black;
		color: silver;
	}
	.blogheadings {
		background-color: silver;
		width: 100px;
		height: 30px;
		border-radius: 3px;
		margin-top: 20px;
		text-align: center;
	}
